<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All-onboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C560D271BDBAAF3003C397B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C560D401BDBAAF3003C397B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C560D4B1BDBAAF3003C397B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
